Flask==2.3.2
elasticsearch==8.10.0
feedparser==6.0.10
beautifulsoup4==4.12.2
requests==2.31.0
transformers==4.34.0
deep-translator==1.11.4
gunicorn==21.2.0
python-dotenv==1.0.0
torch==2.1.0
numpy==1.26.4
